h1 {
  font: 50px bold "arial",sans-serif;
}

p{
  color: gray;

}
.dank-meme {
  background-color: yellow
}
.main-content {
  border: 2px solid blue;
  padding: 30px;

}

.favorite-site {
  color: yellow;

}

.profile-heading{
  color: white;
  background-color: #ff1234;
  padding: 20px;
  margin-bottom: 10px;
}
